<p class="term"
    (mouseover)="alteraPosicaoDaTooltip($event.x, $event.y); exibeTooltip()"
    (mouseleave)="escondeTooltip()">DOM</p>

<div class="tooltip" [class.visivel]="visivelOK" [style.left.px]="mouse.x" [style.top.px]="mouse.y">
  <p>The Document Object Model (DOM) connects web pages to scripts or
  programming languages by representing the structure of a document—such
  as the HTML representing a web page—in memory. Usually that meanss
  JavaScript, although modelling HTML, SVG, or XML documents as objects
  is not part of the JavaScript language, as such.</p>
</div>

<h1>Horizontal Navigation Links</h1>
<p>By default, list items are displayed vertically. In this example we use display: inline-block to display them horizontally (side by side).</p>
<p>Note: If you resize the browser window, the links will automatically break when it becomes too crowded.</p>

<ul class="nav">
  <li><a href="#home">Home</a></li>
  <li><a href="#about">About Us</a></li>
  <li><a href="#clients">Our Clients</a></li>
  <li><a href="#contact">Contact Us</a></li>
</ul>
