<p>Edição de Produtos</p><br>
<!-- Id: {{ produto.id }}
Nome: {{ produto.nome }} -->

<!-- <input type="text" (change)="change()"/> -->
  <!-- <input type="text" value="{{produto.id}}"/><br>
  <input type="text" value="{{produto.nome}}"/><br>
  <button (click)="salvar()">Salvar 1</button>
  <button on-click="salvar()">Salvar 2</button> -->

<form (submit)="salvar()">
  <input name="id" type="text" [(ngModel)]="produto.id"><br>
  <!-- <input name="id" type="text" [ngModel]="produto.id" (ngModelChange)="produto.id=$event"><br> -->
  <!-- <input [style.backgroundColor]="produto.nome.length > 15 ? '#CC0000' : '#FFFFFF'" required name="nome" type="text" [(ngModel)]="produto.nome"><br> -->
  <input appUppercase [class.alerta]="produto.nome.length > 15"
    required name="nome" type="text" [(ngModel)]="produto.nome"><br>
  <div [style.display]="produto.nome.length > 15 ? 'block' : 'none'">
    Evite nome com mais de 15 caracteres
  </div>
  <input type="submit" value="Salvar">
</form>
{{ debugar }}

